#modalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorLabelInput {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

label {
  display: block;
  margin-right: 1vh;
}

h3 {
  margin-bottom: 20px;
}
